<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Rsvps
  </div>

  <ul class="list-group list-group-flush">
    <% @user.rsvps.each do |rsvp| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/rsvps/<%= rsvp.id %>">
          <%= rsvp %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
